* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  background-color: gray;
}

a {
  text-decoration: none;
  color: rgb(255, 0, 0);
}

h1,
h3,
p {
  color: rgb(245, 245, 245);
}

header {
  display: flex;
  justify-content: center;
  background-color: #ffcc00;
}

#search-bar {
  height: 2rem;
  width: 20rem;
}

#submit {
  height: 2rem;
  width: 10ch;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#nav-search-form {
  position: relative;
}

#live-search-dropdown {
  /* display: none; */
  background-color: aqua;
  width: 20rem;
  height: 20rem;
  position: absolute;
}

#movie-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#bookmarks {
  padding: 10px;
  width: 20rem;
  height: 95vh;
  background-color: green;
}

.movie-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  background-color: rgb(22, 22, 22);
  border: solid 1.5px black;
}

.poster {
  height: 300px;
}

.bookmark-button {
  background-color: #ffcc00;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 10rem;
}
.bookmark-button:hover {
  background-color: #e6b800;
}
